.footer {
  height: 2.4rem;
  box-sizing: border-box;
  padding-top: 0.3rem;
  background: #000;
}
.footer .cs {
  width: 4.94rem;
  height: 0.98rem;
  background-image: url(http://game.gtimg.cn/images/cqsj/m/web201701/img/index/cs.png);
  margin: 0 auto 0.4rem;
}
.footer .copy {
  font-size: 0.2rem;
  color: #fff;
  opacity: .21;
  text-align: center;
}
.footer .copy span {
  display: block;
}
.footer .i {
  display: block;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  text-indent: -999em;
}