.gwm-news-title {
  padding: .1rem;
  border-bottom: 1px solid #d4d9de;
}
.gwm-news-content {
  padding: .1rem;
}
.gwm-news-item {
  line-height: .2rem;
}
.mocha-tab-panel {
  display: block;
}